<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	</head>
	<body>
		<div class="container">
			<h1>Login</h1>
            <% if (messages.error) { %> 
                <%= messages.error %> 
            <% } %> 
			<form action="/login" method="POST" class="my-4">
				<div>
					<label for="username">Username</label>
					<input type="username" name="username" id="username" required />
				</div>
				<div>
					<label for="password">Password</label>
					<input type="password" name="password" id="password" required />
				</div>
				<button type="submit" class="btn btn-success">Login</button>
			</form>
			<a href="/register" class="btn">Register</a>
		</div>
	</body>
</html>
